@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

.header {
  width: 30%;
  float: left;
  padding: 10px;
  margin: 0px 10px;
  margin-top: 0px;
  z-index: 5;
}
.header h1 {
  color: #fcfcfc;
  margin: 10px;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .header h1 {
    text-align: center;
    font-size: 18px;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    width: 100%;
    float: none;
    display: block;
  }
}

.nav {
  width: 60%;
  float: right;
  padding: 10px;
  margin: 0px 10px;
  z-index: 5;
}
@media only screen and (max-width: 600px) {
  .nav {
    width: 90%;
    float: none;
    display: block;
    margin: 0px auto;
    padding: 0em;
  }
}
.nav::after {
  content: "";
  clear: both;
}
.nav ul {
  list-style: none;
  margin-left: 10%;
  width: fit-content;
  display: flex;
}
@media only screen and (max-width: 600px) {
  .nav ul {
    margin: 0px auto;
    width: 70%;
    justify-content: space-between;
  }
}
.nav a {
  color: #fcfcfcd8;
  font-weight: 500;
  padding: 7px;
  margin: 15px;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  font-size: 16px;
  transition: color 0.5s;
}
.nav a:hover {
  color: white;
}
@media only screen and (max-width: 600px) {
  .nav a {
    margin: 0px;
    text-align: center;
    font-size: 12px;
    padding: 0px;
  }
}

.current {
  color: #fcfcfc;
  font-weight: 900;
}

.cover {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.footer {
  background-color: #616161;
  color: #f4f9f4;
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  .footer {
    display: none;
  }
}
.footer h4 {
  text-transform: uppercase;
  font-weight: 500;
}
.footer dt {
  font-weight: 200;
  text-indent: 20px;
  font-size: 14px;
}
.footer dd {
  text-indent: 35px;
  font-weight: 100;
  font-size: 14px;
}
.footer #contact {
  border-right: 1px solid #f4f9f47e;
  display: block;
  padding: 10px;
  width: 30%;
  box-sizing: border-box;
  float: left;
}
@media only screen and (max-width: 600px) {
  .footer #contact {
    float: none;
    width: fit-content;
    border: none;
  }
}
.footer #about {
  display: block;
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
  float: left;
}
.footer #about p {
  column-count: 2;
  vertical-align: middle;
  column-fill: balance;
}
@media only screen and (max-width: 600px) {
  .footer #about {
    display: none;
  }
}

.home {
  padding: 10px;
  margin: 12% auto 4% auto;
  width: 60%;
}
.home div {
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
  margin: 10px auto;
  display: inline-block;
  color: white;
  text-align: right;
}
@media only screen and (max-width: 600px) {
  .home div:first-child {
    text-align: center;
    width: 70%;
    font-size: 10px;
    margin: 0px auto;
    display: block;
  }
}
.home div:nth-child(2) {
  float: right;
  text-align: right;
}
@media only screen and (max-width: 600px) {
  .home div:nth-child(2) {
    display: none;
  }
}
.home hr {
  color: white;
}
@media only screen and (max-width: 600px) {
  .home hr {
    display: none;
  }
}

.product {
  background-color: white;
  width: 70%;
  padding: 40px;
  margin: 10% auto;
  margin-top: 17%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product img {
  width: 100px;
  margin: 0% auto;
  display: block;
}
@media only screen and (max-width: 600px) {
  .product img {
    width: 50px;
  }
}

.col {
  display: inline-block;
  width: 32%;
  margin: auto;
  padding: 15px;
}
@media only screen and (max-width: 600px) {
  .col {
    display: block;
    width: 90%;
  }
}
.col:nth-child(2) {
  border: 2px solid #6161617e;
  border-top: none;
  border-bottom: none;
}
@media only screen and (max-width: 600px) {
  .col:nth-child(2) {
    border: none;
  }
}
.col h3 {
  font-weight: 200;
  color: #616161;
  margin: 25px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .col h3 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .col p {
    font-size: 10px;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
