#home {
    padding: 10px;
    margin: auto;
    margin-top: 3%;
    width: 60%;
}

#home div {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px auto;
    display: inline-block;
    color: white;
    text-align: right
}

#home div:nth-child(2) {
    float: right;
    text-align: right
}

#home hr {
    color: white;
}

#product {
    background-color: white;
    width: 70%;
    padding: 40px;
    margin: 10% auto;
    margin-top: 22%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#product img {
    width: 100px;
    margin: 0% auto;
    display: block;
}

.col {
    display: inline-block;
    width: 32%;
    margin: auto;
    padding: 15px;
    box-sizing: border-box
}

.col:nth-child(2) {
    border: 2px solid #6161617e;
    border-top: none;
    border-bottom: none;
}

.col a {
    text-decoration: none;
}

.col h3 {
    font-weight: 200;
    color: #616161;
    margin: 25px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
}